/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

*{
  font-family: "Dosis", sans-serif;
}

h1{
  color: blue;
  text-align: center;
  font-size: 4rem;
}

ul{
  list-style: none;
  padding: 0;
}

ul li{
  font-size: 1.3rem;
  position: relative;
  padding-left: 45px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

ul li::before{
  position: absolute;
  content: '\2192';
  left: 0;
  color: #ff6347;
  font-size: 3rem;
  font-weight: 900;
  margin-top: -22px;
} */


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Grey+Qo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Sankofa+Display&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.App{
  position: relative;
  padding-top: 5%;
  /* color: #96ceb4;
  color: #ff8343;
  color: #115522;
  color: #155263;
  color: #c66912;
  color: #fff4d9; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 769px) and (max-width: 1200px){
  .App{
    padding-top: 8%;
  }
}

@media (min-width: 320px) and (max-width: 768px){
  .App{
    padding-top: 14%;
  }
}